<th:block
    th:replace="fragments/screens/screenWithYesAndNoButtons ::
  screenWithYesAndNoButtons(
    title=#{housemates.housemates},
    header=#{housemates.do-you},
    formAction=${formAction},
    inputName='hasHousehold',
    inputContent=~{::inputContent})">
  <th:block th:ref="inputContent">
    <ul class="list--bulleted spacing-below-60">
      <li th:text="#{housemates.your-spouse}"></li>
      <li th:text="#{housemates.your-children}"></li>
      <li th:text="#{housemates.other}"></li>
      <li th:text="#{housemates.your-domestic}"></li>
    </ul>
  </th:block>
</th:block>
