<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{income-amounts.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35"
                  th:with="houseHoldMemberName=${relatedSubflowIteration.get('householdMemberFirstName') +' '+ relatedSubflowIteration.get('householdMemberLastName')}, incomeType=${repeatForIteration.get('householdMemberIncomeByTypeValue')}">
<!--                <th:block-->
<!--                        th:replace="~{fragments/cardHeader :: cardHeader(header=${#messages.msg('income-amounts.header', houseHoldMemberName, incomeType)}"/>-->

                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=${#messages.msg('income-amounts.header', houseHoldMemberName, incomeType)})}"/>
                <th:block
                        th:replace="~{fragments/form :: form(action=${formAction}, content=~{::incomeAmounts})}">
                    <div th:ref="incomeAmounts">
<!--                        <p th:text="${fieldData.get('income')}"></p>-->
<!--                        <p th:text="'repeatForIteration'"></p>-->
<!--                        <p th:text="${repeatForIteration}"></p>-->
                        <!-- we need to handle three scenarios for this page:
                             1) first time through it -- no data yet
                             2) user clicked "go back" during subflow
                             3) user clicked on "edit" on the listing page
                        -->
                        <div class="form-card__content">
                            <<th:block th:replace="~{fragments/inputs/text ::
                              text(inputName='amount',
                              label=#{income-amounts.title}
                              )}" />
<!--                            <th:block th:with="incomeData=${fieldData.getOrDefault('income', fieldData)}">-->
<!--                                <th:block th:each="personsIncome: ${iterator}"-->
<!--                                          th:if="${personsIncome.uuid.equals()}">-->
<!--                                    <th:block th:each="incomeType: ${fieldData['incomeTypes[]']}">-->
<!--                                        <th:block-->
<!--                                                th:replace="~{fragments/inputs/money :: money(data=fieldData, inputName=${incomeType + 'Amount'},-->
<!--                     label=#{'income-shared.' + ${incomeType}},-->
<!--                    helpText=#{income-amounts.yearly})}"/>-->
<!--                                    </th:block>-->
<!--                            </th:block>-->

                        </div>
                        <div class="form-card__footer">
                            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})}"/>
                        </div>
                    </div>
                </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>