<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{phone-number-nudge.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="form-card__content">
          <th:block th:replace="~{'fragments/icons' :: docWithMagnifyingGlass}"></th:block>
          <th:block
              th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{phone-number-nudge.header}, subtext=#{phone-number-nudge.subheader})}"/>
        </div>
        <div class="form-card__footer">
          <a class="button button--primary"  th:href="'/flow/' + ${flow} + '/contactInfo'"
             th:text="#{phone-number-nudge.add-a-phone-number}"></a>
          <br>
          <a class="button button--other"  th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
             th:text="#{phone-number-nudge.continue-without-it}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>