<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{review-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: docWithMagnifyingGlass}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{review-info.header})}"/>
        <div class="form-card__content">
          <div>
            <b th:text="#{review-info.name-header}"></b><br>
            <div class="spacing-above-15">
              <th:block th:text="${fieldData.firstName} + ' ' + ${fieldData.lastName}"></th:block>
              <hr class="spacing-below-25 spacing-above-25">
            </div>
          </div>
          <div>
            <b th:text="#{review-info.home-address-header}"></b><br>
            <div class="spacing-above-15" th:if="${fieldData.getOrDefault('useSuggestedResidentialAddress', 'false') == 'false'}">
              <th:block th:text="${fieldData.residentialAddressStreetAddress1}"></th:block><br>
              <div th:if="${fieldData.residentialAddressStreetAddress2 != null && !fieldData.residentialAddressStreetAddress2.trim().isEmpty()}">
                <th:block th:text="${fieldData.residentialAddressStreetAddress2}"></th:block><br>
              </div>
              <th:block th:text="${fieldData.residentialAddressCity} + ', ' + ${fieldData.residentialAddressState}"></th:block><br>
              <th:block th:text="${fieldData.residentialAddressZipCode}"></th:block><br>
            </div>
            <div class="spacing-above-15" th:if="${fieldData.getOrDefault('useSuggestedResidentialAddress', 'false') == 'true'}">
              <th:block th:text="${fieldData.residentialAddressStreetAddress1_validated}"></th:block><br>
              <th:block th:text="${fieldData.residentialAddressCity_validated} + ', ' + ${fieldData.residentialAddressState_validated}"></th:block><br>
              <th:block th:text="${fieldData.residentialAddressZipCode_validated}"></th:block><br>
            </div>
            <hr class="spacing-below-25 spacing-above-25">
          </div>
          <div>
            <b th:text="#{review-info.contact-info-header}"></b><br>
            <div class="spacing-above-15">
              <div th:if="${fieldData.phoneNumber != null}">
                <th:block th:text="${fieldData.phoneNumber}"></th:block>
              </div>
              <div th:if="${fieldData.email != null}">
                <th:block th:text="${fieldData.email}"></th:block>
              </div>
            </div>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="~{fragments/continueButton :: continue(text=#{review_info.this-looks-correct})}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>