<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{sign-name.title})}"></head>
<body hx-boost="true">
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main
          th:with="name=${fieldData.firstName} + ' ' + ${fieldData.lastName}"
          id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{sign-name.header}, subtext=#{sign-name.subheader(${name})})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=('/flow/' + ${flow} + '/'+ ${screen} + '/submit' ), content=~{::signNameInput})}">
          <th:block th:ref="signNameInput">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='signature',
                  ariaLabel='header')}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{sign-name.submit-application})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
