<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{success.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main
          th:with="completionDate=${T(org.formflowstartertemplate.app.utils.SubmissionUtilities).getFormattedSubmittedAtDate(submission)}"
          id="content" role="main" class="form-card spacing-above-35">
        <div>
          <th:block th:replace="'fragments/icons' :: computerWithCheckmark"></th:block>
        </div>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{success.header})"/>
        <p class="text--help help--header-spacing" th:text="#{success.your-application-was-submitted(${completionDate})}"></p>
        <div class="form-card__content">
          <div class="notice--success">
            <p th:text="#{success.applications-will-close-on}"></p>
          </div>
          <hr class="spacing-above-15 spacing-below-25">
          <h2 th:text="#{success.helpful-resources}"></h2>
          <div class="success-confirmation-box zero-flex-shrink spacing-below-60">
              <th:block th:replace="'fragments/icons' :: smallDownloadDocuments"></th:block>
              <div>
                <p th:text="#{success.save-a-copy-of-your-application}"></p>
                <a th:href="'/'"
                   th:text="#{success.download-your-application}"></a>
              </div>
          </div>
          <div class="success-confirmation-box zero-flex-shrink move-box-left">
            <th:block th:replace="'fragments/icons' :: smallFile"></th:block>
            <div>
              <p th:utext="#{success.return-to-GetUBI.org}"></p>
            </div>
          </div>
        </div>
        <div class="form-card__footer">

        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
