<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{generate-pdf-page.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main
          id="content" role="main" class="form-card spacing-above-35">
        <div>
          <th:block th:replace="'fragments/icons' :: computerWithCheckmark"></th:block>
        </div>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{generate-pdf-page.header})"/>
        <div class="form-card__content">
          <div class="success-confirmation-box zero-flex-shrink spacing-below-60">
              <th:block th:replace="'fragments/icons' :: smallDownloadDocuments"></th:block>
              <div>
                <p th:text="#{success.save-a-copy-of-your-application}"></p>
                <a class="button"
                   th:href="'/download/' + ${flow} + '/' + ${submission.getId()} + '/Multipage-UBI-Form'"
                   th:text="#{generate-pdf-page.button}"></a>
              </div>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="'fragments/continueButton' :: continue" />
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
