<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{address-validation.check-your-address})}"></head>
<body hx-boost="true">
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{:: pickAddress})}">
          <th:block th:ref="pickAddress">
            <th:block th:replace="~{fragments/screens/addressSuggestionNotFound ::
                  addressSuggestionNotFound(
                    addressInputToCheck='residentialAddress',
                    inputName='useSuggestedResidentialAddress',
                    editAddressURL=${'/flow/' + flow + '/homeAddress'})}"/>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
