:root {
  --idhs-dark-blue: #05236a;
  --idhs-base-blue: #0c3189;
  --idhs-dark-purple: #1d3fa8;
  --idhs-base-purple: #3262d4;
  --idhs-light-purple: #769bf3;
  --idhs-dark-green: #005e59;
  --idhs-base-green: #048e85;
  --idhs-light-green: #42c9b0;
  --idhs-highlight-green: #dafff8;
  --idhs-base-yellow: #e6a001;
  --idhs-highlight-yellow: #ffe8ce;
  --idhs-base-red: #e21121;
  --idhs-light-red: #ee8d8f;
  --idhs-highlight-red: #ffd7d7;
  --light-grey: #f7f5f4;
  --gray-darkest: #121111;
  --black: #000000;
  --white: #ffffff;
}

html, body {
  background: var(--white);
}

.page-wrapper {
  padding-bottom: 17.8rem;
}

.toolbar__wrapper {
  background-color: var(--idhs-base-blue);
}

.notice--warning {
  background-color: var(--idhs-highlight-yellow);
  color: var(--gray-darkest);
  border-color: var(--idhs-base-yellow);
}

.notice--warning a {
  color: var(--idhs-base-blue);
}

.footer-blue {
  background-color: var(--idhs-base-blue);
  color: var(--white);
}

main.slab {
  padding-top: 0;
  padding-bottom: 0;
}

.slab--light-purple {
  /* idhs-light-purple + opacity */
  background-color: rgba(118, 155, 243, 0.35);
}

/* Links and buttons */
a, .button--link {
  color: var(--idhs-base-blue);
}

.slab a:not(.button):not(.reveal__link):not(.text--red),
.slab a:not(.button):not(.reveal__link):not(.text--red):focus,
.button--link, .button--link:focus
{
  color: var(--idhs-base-blue);
}

.button--primary {
  background-color: var(--idhs-base-blue);
}

/* Utilities */
.padding-top-0 {
  padding-top: 0;
}

.color--idhs-base-blue {
  color: var(--idhs-base-blue);
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Index */
.index-child-care-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.index-table {
  width: 100%;
  border-collapse: collapse;
}

.index-table th {
  font-weight: normal;
  font-size: 1.6rem;
  color: var(--idhs-dark-blue);
  padding-bottom: 1rem;
}

.index-table th:first-child,
.index-table td:first-child {
  text-align: left;
}

.index-table th:last-child,
.index-table td:last-child {
  text-align: right;
}

.index-table td {
  padding: 1rem;
}

.index-table tbody tr:nth-child(odd) {
  background-color: var(--white);
}

.index-icon-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.index-icon-list p {
  margin-bottom: 0;
}

/* Inherited from Starter App */
/* ========================== */
.reveal a {
  display: flex;
}

.reveal svg {
  align-self: center;
  display: flex;
  margin-right: 10px;
}

.align-with-boxed-content {
  padding: 2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}
.legal-stuff-header {
  padding: 2.5rem 0 -2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}

.legal-stuff-window {
  border: 2px solid black;
  height: 35rem;
  overflow-y: scroll;
  padding-right: calc(1.5rem + 12px);
}
.textarea-readonly::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea-readonly::-webkit-scrollbar:vertical {
  width: 12px;
}

.textarea-readonly::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.textarea-readonly::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.notice-container {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.notice-blue {
  background: #E9F6FF;
  border: 1px solid #003865;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px 0 15px;
}

.steps-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.steps-box svg {
  flex-shrink: 0;
}

.vertical-steps .notice-blue {
  margin-bottom: -10px;
  margin-top: -10px;
}

.notice-blue .width-one-sixth {
  text-align: center;
}

.vertical-steps:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: #003964;
}

.email-confirmation-box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.email-confirmation-box strong {
  color: #00891B;
}

.success-confirmation-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.zero-flex-shrink svg{
  flex-shrink: 0;
}

.move-box-left {
  margin-left: -5px;
}

.help--header-spacing {
  margin-top: -35px;
}

.icon-person {
  font-size: 3.2rem;
}
