<div th:fragment="identifier(modifier, identity, requiredLinks, governmentSection)" class="usa-identifier" th:classappend="${modifier}">
  <section th:if="${identity}" class="usa-identifier__section usa-identifier__section--masthead" th:attr="aria-label=${identity.ariaLabel}">
    <div class="usa-identifier__container">
      <div class="usa-identifier__identity">
        <p th:if="${identity.domain}" class="usa-identifier__identity-domain" th:text="${identity.domain}">domain.gov</p>
        <p th:if="${identity.disclaimer}" class="usa-identifier__identity-disclaimer" th:text="${identity.disclaimer}">Disclaimer</p>
      </div>
    </div>
  </section>
  <nav th:if="${requiredLinks}" class="usa-identifier__section usa-identifier__section--required-links" th:attr="aria-label=${requiredLinks.ariaLabel}">
    <div class="usa-identifier__container">
      <ul class="add-list-reset">
        <li th:each="item: ${requiredLinks.items}" class="usa-identifier__required-links-item">
          <a class="usa-identifier__required-link usa-link usa-link--external" th:href="${item.href}" th:classappend="${item.modifier}" th:attr="rel=${item.rel},target=${item.target}" th:text="${item.label}">Label</a>
        </li>
      </ul>
    </div>
  </nav>
  <section th:if="${governmentSection}" class="usa-identifier__section usa-identifier__section--usagov" th:attr="aria-label=${governmentSection.ariaLabel}">
    <div class="usa-identifier__container">
      <div th:if="${governmentSection.description}" class="usa-identifier__usagov-description" th:text="${governmentSection.description}">Description</div>
      <a th:if="${governmentSection.link}" class="usa-link" th:href="${governmentSection.link.href}" th:classappend="${governmentSection.link.modifier}" th:attr="rel=${governmentSection.link.rel},target=${governmentSection.link.target}" th:text="${governmentSection.link.label}">Visit domain.gov</a>
    </div>
  </section>
</div>
