form-flow:
  inputs: 'org.formflowstartertemplate.app.inputs.'
  uploads:
    accepted-file-types: '.jpeg,.jpg,.png,.pdf,.bmp,.gif,.doc,.docx,.odt,.ods,.odp,.heic'
  aws:
    region: 'us-west-1'
    s3_bucket_name: 'form-flow'
    access_key: ${AWS_ACCESS_KEY}
    secret_key: ${AWS_SECRET_KEY}
spring:
  thymeleaf:
    cache: false
    template-resolver-order: 0
    check-template-location: true
  # TODO: move caching 0 to a dev only context?
  web:
    resources:
      static-locations: file:src/main/resources/static/
      cache:
        period: 0
  datasource:
    url: jdbc:postgresql://localhost:5432/starter-app
    username: starter-app
    password:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: INFO
    org.springframework.web: ERROR
server:
  tomcat:
    max-http-form-post-size: 20MB
