@use 'uswds-core' as *;

:root {
  --cfa-spacing-DEFAULT: #{units(2)};

  --cfa-code-webkit-font-smoothing: auto;
  --cfa-code-moz-osx-font-smoothing: auto;

  --cfa-code-text: #{color($theme-color-primary-darker)};
  --cfa-code-link: #{color($theme-color-primary-darker)};
  --cfa-code-text-css: #{color($theme-color-primary-darker)};
  --cfa-code-text-javascript: #{color($theme-color-primary-darker)};

  --cfa-code-text-comment: #{color($theme-color-base)};
  --cfa-code-text-keyword: #{color($theme-color-accent-cool-darker)};
  --cfa-code-text-string: #{color($theme-color-secondary-dark)};
  --cfa-code-text-symbol: #{color($theme-color-secondary-dark)};

  --cfa-code-background: #{color($theme-color-base-lightest)};
  --cfa-code-background-select: #{color($theme-color-warning-lighter)};

  --cfa-code-text-code: #{color($theme-color-primary-darker)};
  --cfa-code-text-webkit-font-smoothing: auto;
  --cfa-code-text-moz-osx-font-smoothing: auto;
  --cfa-code-text-code-background: #{color($theme-color-base-lightest)};

  --cfa-code-border: hsla(0, 0%, 100%, 0);

  // Code for America brand colors
  --cfa-gray-20: #ececec;
  --cfa-gray-40: #b4b4b4;
  --cfa-gray-60: #555555;
  --cfa-gray-80: #292929;

  --cfa-purple-20: #DBDAF1;
  --cfa-purple-40: #ADA9FF;
  --cfa-purple-60: #4B49B2;
  --cfa-purple-80: #2B1A78;

  --cfa-red-20: #FBDADC;
  --cfa-red-40: #FF999F;
  --cfa-red-60: #AF121D;
  --cfa-red-80: #5C0A0F;

  --cfa-blue-20: #E6EBF9;
  --cfa-blue-40: #B3C7FF;
  --cfa-blue-60: #7595F0;
  --cfa-blue-80: #172C68;

  --cfa-yellow-20: #FFEBCC;
  --cfa-yellow-40: #FFD699;
  --cfa-yellow-60: #F2AA40;
  --cfa-yellow-80: #663D00;

  --cfa-green-20: #D6F5ED;
  --cfa-green-40: #ADF0E0;
  --cfa-green-60: #39AA8E;
  --cfa-green-80: #004239;

  --cfa-sand-20: #F5F0ED;
  --cfa-sand-40: #F8D5BF;
  --cfa-sand-60: #C19F8B;
  --cfa-sand-80: #3D3129;

  --cfa-sand: var(--cfa-sand-20);
  --cfa-brand-purple: var(--cfa-purple-80);
  --cfa-brand-red: var(--cfa-red-60);
  --cfa-site-primary-color: var(--cfa-brand-purple);
  --cfa-site-footer-background-color: var(--cfa-site-primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cfa-code-webkit-font-smoothing: antialiased;
    --cfa-code-moz-osx-font-smoothing: grayscale;

    --cfa-code-text: #{color($theme-color-base-lighter)};
    --cfa-code-link: #{color($theme-color-base-lighter)};
    --cfa-code-text-css: #{color($theme-color-base-lighter)};
    --cfa-code-text-javascript: #{color($theme-color-base-lighter)};

    --cfa-code-text-comment: #{color($theme-color-primary-light)};
    --cfa-code-text-keyword: #{color($theme-color-success-light)};
    --cfa-code-text-string: #{color($theme-color-warning)};
    --cfa-code-text-symbol: #{color($theme-color-warning)};

    --cfa-code-background: #{color($theme-color-primary-darker)};
    --cfa-code-background-select: #{color($theme-color-base-darkest)};

    --cfa-code-text-code: #{color($theme-color-primary-darker)};
    --cfa-code-text-webkit-font-smoothing: auto;
    --cfa-code-text-moz-osx-font-smoothing: auto;
    --cfa-code-text-code-background: #{color($theme-color-base-lightest)};

    --cfa-code-border: hsla(0, 0%, 100%, 0);
  }
}

.site-prose .site-component-section-title {
  border-top: 1px solid;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-top: .75rem;
}

.site-prose .site-preview-heading {
  margin-bottom: 1rem;
}

.site-swatch {
  height: 2rem;
  width: 2rem;
  text-align: middle;
}

.site-cite {
  padding: 2px;
  text-decoration: none;
  font-weight: bold;
}

.site-footer__secondary-section {
  background-color: var(--cfa-purple-20);
}

.site-identifier {
  background-color: var(--cfa-site-footer-background-color);
}
