/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use 'uswds-core' with (
  // 1. Settings
  // $theme-show-compile-warnings: false,
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,
  // $theme-show-notifications: true,

  // Focus
  $theme-focus-color: 'gold-30v',

  // 2. Spacing
  $theme-border-radius-sm: 0.5,
  $theme-border-radius-md: 1,
  $theme-border-radius-lg: 2,

  $theme-grid-container-max-width: 'desktop-lg',
  // These are not within the spacing section but keeping them together
  // helps with managing the max-width dimension consistently
  $theme-banner-max-width: 'desktop-lg',
  $theme-footer-max-width: 'desktop-lg',
  $theme-header-max-width: 'desktop-lg',
  $theme-identifier-max-width: 'desktop-lg',
  $theme-in-page-nav-main-content-max-width: 'desktop-lg',
  $theme-site-alert-max-width: 'desktop-lg',

  // 3. Color
  // $test-color-tokens: true,
  // - Base
  $theme-color-base-family: 'gray-warm',
  $theme-color-base-lightest: 'gray-warm-4', // affects accordion background
  $theme-color-base-lighter: 'gray-warm-10', // affects accordion button hover state
  $theme-color-base-light: 'gray-warm-30',
  $theme-color-base: 'gray-warm-50',
  $theme-color-base-dark: 'gray-warm-60',
  $theme-color-base-darker: 'gray-warm-70',
  $theme-color-base-darkest: 'gray-warm-90',
  $theme-color-base-ink: 'gray-warm-90',

  // - Primary
  $theme-color-primary-family: 'mint',
  $theme-color-primary-lightest: 'mint-cool-5',
  $theme-color-primary-lighter: 'mint-10',
  $theme-color-primary-light: 'mint-30',
  $theme-color-primary: 'mint-50',
  $theme-color-primary-vivid: 'mint-40v',
  $theme-color-primary-dark: 'mint-cool-70v',
  $theme-color-primary-darker: 'mint-cool-80v',

  // - Secondary
  $theme-color-secondary-family: 'magenta-vivid',
  $theme-color-secondary-lighter: 'magenta-10v',
  $theme-color-secondary-light: 'magenta-30v',
  $theme-color-secondary: 'magenta-50v',
  $theme-color-secondary-vivid: 'magenta-40v',
  $theme-color-secondary-dark: 'magenta-60v',
  $theme-color-secondary-darker: 'magenta-70v',

  // - Accent Warm
  $theme-color-accent-warm-family: 'red-warm-vivid',
  $theme-color-accent-warm-lighter: 'red-warm-10v',
  $theme-color-accent-warm-light: 'red-warm-20v',
  $theme-color-accent-warm: 'red-warm-30v',
  $theme-color-accent-warm-dark: 'red-warm-50v',
  $theme-color-accent-warm-darker: 'red-warm-60v',

  // - Accent Cool
  $theme-color-accent-cool-family: 'green-cool-vivid',
  $theme-color-accent-cool-lighter: 'green-cool-5v',
  $theme-color-accent-cool-light: 'green-cool-20v',
  $theme-color-accent-cool: 'green-cool-30v',
  $theme-color-accent-cool-dark: 'green-cool-40v',
  $theme-color-accent-cool-darker: 'green-cool-60v',

  // - Error
  $theme-color-error-family: 'orange-warm-vivid',
  $theme-color-error-lighter: 'orange-warm-10v',
  $theme-color-error-light: 'orange-warm-30v',
  $theme-color-error: 'orange-warm-50v',
  $theme-color-error-dark: 'orange-warm-60v',
  $theme-color-error-darker: 'orange-warm-70v',

  // - Warning
  $theme-color-warning-family: 'gold-vivid',
  $theme-color-warning-lighter: 'gold-5v',
  $theme-color-warning-light: 'gold-10v',
  $theme-color-warning: 'gold-20v',
  $theme-color-warning-dark: 'gold-30v',
  $theme-color-warning-darker: 'gold-50v',

  // - Success
  $theme-color-success-family: 'green-cool-vivid',
  $theme-color-success-lighter: 'green-cool-5v',
  $theme-color-success-light: 'green-cool-20v',
  $theme-color-success: 'green-cool-40v',
  $theme-color-success-dark: 'green-cool-50v',
  $theme-color-success-darker: 'green-cool-60v',

  // - Info
  $theme-color-info-family: 'gray-warm',
  $theme-color-info-lighter: 'gray-warm-4',
  $theme-color-info-light: 'gray-warm-20',
  $theme-color-info: 'gray-warm-50',
  $theme-color-info-dark: 'gray-warm-60',
  $theme-color-info-darker: 'gray-warm-70',

  // - Emergency
  $theme-color-emergency: 'orange-warm-30v',
  $theme-color-emergency-dark: 'orange-warm-60v',

  // - Disabled
  $theme-color-disabled-family: 'gray-warm',
  $theme-color-disabled-light: 'gray-warm-10',
  $theme-color-disabled: 'gray-warm-20',
  $theme-color-disabled-dark: 'gray-warm-30',

  // - Visited
  $theme-link-color: 'primary',
  $theme-link-visited-color: 'ink',

  // 4. Typography
  $theme-global-paragraph-styles: true,
  $theme-global-link-styles: true,
  $theme-global-content-styles: true,

  $theme-font-type-sans: 'system', // Match Honeycrisp codebase
  $theme-font-type-serif: false,
  $theme-font-role-heading: 'sans',

  // - Custom monospaced font for code demonstration
  $theme-typeface-tokens: (
    "jetbrains-mono": (
      "display-name": '"JetBrains Mono"',
      "cap-height": 365px
    )
  ),

  $theme-font-type-mono: 'jetbrains-mono',
  $theme-font-mono-custom-stack: monospace,

  // - Type scale
  $theme-type-scale-3xs: 3,
  $theme-type-scale-2xs: 4,
  $theme-type-scale-xs: 5,     // h6?
  $theme-type-scale-sm: 6,     // h5, paragraphs?
  $theme-type-scale-md: 7,     // h4?
  // $theme-type-scale-lg: 9,  // h3
  // $theme-type-scale-xl: 12, // h2
  $theme-type-scale-2xl: 15,   // h1
  $theme-type-scale-3xl: 17,   // Pushing this more because h1 is originally set to 15

  $theme-style-body-element: true, // Not well documented but necessary to make type size and line heights consistent with .usa-prose
  $theme-body-line-height: 4,
  $theme-h6-font-size: 'xs',
  $theme-small-font-size: 'xs',

  $theme-text-measure-narrow: 'none',
  $theme-text-measure: 'none',
  $theme-text-measure-wide: 'none',

  $theme-lead-line-height: 4,

  // 5. Components
  // - Card
  // - Input
  // - Radio
  // - Checkbox
  $theme-input-select-size: 3,
  $theme-checkbox-border-radius: 0,
  $theme-input-tile-border-radius: 0,
  $theme-input-tile-border-width: 2px,
  // - Form
  // - Alert
  $theme-alert-padding-x: 2,
  $theme-alert-padding-y: 2,
  $theme-alert-link-color: 'ink',
  // - Accordion
  $theme-accordion-border-width: 2px,
  $theme-accordion-border-color: 'gray-warm-20',
  // - Footer
  // - Button
  // - Header
  $theme-header-logo-text-width: auto,

  // 6. Utilities
  $utilities-use-important: true,
  $theme-utility-breakpoints: (
    'mobile': true,
    'mobile-lg': true,
    'tablet': true,
    'tablet-lg': true,
    'desktop': true
  ),
  $text-align-manual-values: (
    'start': start,
    'end': end
  )
);
