<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:assert="${!#strings.isEmpty(title)}">
  <th:block th:replace="~{fragments/libraryHead :: headLinks}"></th:block>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title th:text="${title}"></title>
  <link href="/assets/css/custom.css" rel="preload" as="style"/>
  <link href="/assets/css/custom.css" rel="stylesheet"/>
  <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"></script>
</head>
</html>
