<head th:fragment="head" th:assert="${!#strings.isEmpty(title)}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title th:text="${title}"></title>
  <th:block th:if="${@environment.getProperty('form-flow.design-system.name') != 'cfa-uswds'}">
    <th:block th:replace="~{fragments/libraryHead :: headLinks}"></th:block>
    <link href="/assets/css/custom.css" rel="preload" as="style"/>
    <link href="/assets/css/custom.css" rel="stylesheet"/>
  </th:block>
  <th:block th:if="${@environment.getProperty('form-flow.design-system.name') == 'cfa-uswds'}">
    <link href="/assets/css/styles.css" rel="stylesheet"/>
    <script defer src="/assets/js/scripts.js"></script>
  </th:block>
</head>
