<th:block th:fragment="toolbar">
  <header class="main-header toolbar__wrapper">
    <div class="toolbar">
      <div class="toolbar__left spacing-above-0">
        <a href="#content" id="skip-to-content" class="button button--small" th:text="#{general.skip-to-content}"></a>
        <a class="logo" href="/">
          <img src="/assets/images/IDHS-white.svg"
               alt="Illinois Department of Human Services logo"
               style="width: 118px; height: 36px;"
               class="vertical-align-middle"/>
        </a>
      </div>
      <div class="toolbar__right">
        <th:block th:replace="~{fragments/languageSelector :: languageSelector}"></th:block>
      </div>
    </div>
    <th:block
        th:replace="~{fragments/demoBanner :: demoBanner(demoText=#{demo.banner-text}, profile='staging')}"/>
  </header>
</th:block>
