<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title='Upload Test')"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header='Upload Test')"/>
        <div class="form-card__content">
          <form action="/file-upload" method="post" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>