<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{pilot-offboard.title})}"></head>
<body class="background-grey">
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab slab--grey">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: error}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(
            header=#{pilot-offboard.title},
            subtext=#{pilot-offboard.subtext-html})}"/>
        <div class="form-card__content">

        </div>
        <div class="form-card__footer">
          <!-- TODO: add tracking link -->
          <a
              href="/"
              th:text="#{pilot-offboard.link}"
              class="button--primary button"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
