name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
  repository_dispatch:
    types: [form-flow-snapshot-updated]

env:
  USERNAME: ${{ secrets.GPR_USER }}
  TOKEN: ${{ secrets.GPR_KEY }}

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      actions: read
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: starter-app-test
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: starter-app-test
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - name: Set up ChromeDriver
        uses: nanasess/setup-chromedriver@v2.3.0
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Test with Gradle
        id: test
        run: ./gradlew clean test --stacktrace
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Announce failures on Slack
        if:  ${{ steps.test.conclusion == 'failure' }}
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Report results to DeepSource
        continue-on-error: true
        if: ${{ steps.test.conclusion == 'success' }}
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key java --value-file ./build/reports/jacoco/test/jacocoTestReport.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
